<ng-content></ng-content>
<form (submit)="onChange([name.value, price.value, description.value])">
    <div class="form-group">
            <input type="text" placeholder="Название товара" class="mx-lg-3 my-lg-3 col-md-6 form-control" #name>
            <input type="text" placeholder="Цена товара" class="mx-lg-3 my-lg-3 col-md-6 form-control" #price>
            <input type="text" placeholder="Описание товара" class="mx-lg-3 my-lg-3 col-md-6 form-control" #description>
            <div class="container">
                <button type="submit" class="btn btn-success">Add Product</button>
            </div> 
    </div>
</form>
